*{
    margin: 0px;
    padding: 0px;
}
header{

overflow: hidden;
}


.container{
    width: 1140px;
    margin: 0px auto;
}

.logo{
    width: 25%;
    float: left;
}
.logo img{
    display: block;
    width: 150px;
}


nav{
    min-height: 50px;
    width: 50%;
    float: left;
    padding-top: 35px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}


.sm-icons{
    width: 25%;
    float: left;
    padding-top: 20px;
}



.sm-icons ul{
    list-style: none;
}

.sm-icons ul li{
    display: inline-block;
    margin-right: 5px;
    
}

.sm-icons ul li:last-child{
    margin-right: 0;
}

.sm-icons ul li a{
    font-size: 25px;
    text-decoration: none;
    line-height: 50px;
    display: block;
}
.fa-facebook-square{
    color: #243388;
    border-radius: 0px;
}

.fa-twitter-square{
    color: #2196F3;
}

.fa-linkedin-square{
    color: #3F51B5;
}
.fa-google-plus-square{
    color: #A51A13;
}
.fa-sign-in{
    color: black;
}


.business{

    width: 100%;
    background-image: url(../images/pexels-startup-stock-photos-7357.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    padding: 70px 0;
    
    
}

.b-box{
    background-color: #deb88747;
    width: 400px;
    padding: 30px;
    overflow: hidden;
}
    
.b-box h1{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.b-box p{
    font-size: 16px;
    margin-bottom: 10px;
}
.button{
    display: block;
    float: left;
    text-decoration: none;
    padding: 8px 5px;
    background-color: #66C430;
    margin-right: 15px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;   
        
}
.concept{
    overflow: hidden;
    margin-top: 35px;
}

.cc{
    width: 22%;
    float: left;
    margin-right: 4%;
    text-align: center;
    overflow: hidden;
}

.cc:last-child{
    margin-right: 0;
}


.fa-check{
    height: 56px;
    width: 70px;
    border-radius: 50%;
    background-color: #6879D4;
    color: #fff;
    text-align: center;
    font-size: 35px;
    padding-top: 17px;
    margin-bottom: 10px;
}

.fa-map-marker{
    height: 56px;
    width: 70px;
    border-radius: 50%;
    background-color: #009688;
    color: #fff;
    text-align: center;
    font-size: 35px;
    padding-top: 17px;
    margin-bottom: 10px;
}

.fa-money{
    height: 56px;
    width: 70px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    font-size: 35px;
    padding-top: 17px;
    margin-bottom: 10px;
}

.fa-user-plus{
    height: 56px;
    width: 70px;
    border-radius: 50%;
    background-color: #97E268;
    color: #fff;
    text-align: center;
    font-size: 35px;
    padding-top: 17px;
    margin-bottom: 10px;
}
.cc h3{
    text-align: center;
    margin-bottom: 10px;
}

.cc p{
    text-align: justify;
    margin-bottom: 10px;
}

.btn{
    background-color: #66C430;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 83px;
    padding: 9px;
    border-radius: 5px;
    margin: 0 auto;
}
.invest{
    overflow: hidden;
    margin-bottom: 30px;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.i-box{
    width: 40%;
    float: left;
    margin-right: 95px;
    display:block;
    background-color: #B7CCD3;
    margin-top: 50px;
    padding: 30px;
}

.i-box:last-child{
    margin-right: 0;
}
h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}



.i-box ul li{
    list-style: none;
    margin-bottom: 7px;
}

.i-box ul li img{
    height: 14px;
}

.i-box ul li:last-child{
    margin-bottom: 10px;
}
.blog{
    margin-bottom: 30px;
    overflow: hidden;
}

.blog-box{
    width: 45%;
    float: left;
    margin-right: 10%;

}

.blog-box:last-child{
    margin-right: 0;
}

.blog-box h3{
    color: #30306c;
    font-size: 25px;
    margin-bottom: 15px;
}

.blog-box p{
    margin-bottom: 10px;
}

.blog-box .btn{
    margin: 0;
}
.work{
    background-color: #DCDCDC;
    text-align: center;
    padding: 30px;
    overflow: hidden;
    margin-bottom: 30px;
}

.work p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
}

.message{
    background-color: #000000;
    color: #fff;
    width: 132px;
    padding: 5px;
    font-size: 15px;
    font-weight: normal;
    border-top-left-radius: 5px;
    position: fixed;
    right: 0;
    bottom: 50px;
}
.trust{
    text-align: center;
    margin-bottom: 30px;
}

.trust .fa-star{
    font-size: 40px;
    color: #00B67A;
}

.fa-star-o{
    background-color: #73CF11;
    color: #fff;
    font-size: 35px;
    padding: 5px;
}

.fa-star-o:last-child{
    background-color: #9E9E9F;
    margin-bottom: 10px;
}
footer{
    padding: 30px 0;
    background-color: #052D3A;
    color: #fff;
    overflow: hidden;
    font-weight: normal;
}

.container3{
    width: 700px;
    margin:0 auto;
}

.f-box{
    width: 50%;
    float: left;
}